@font-face {
	font-family: 'Abel';
	src: url('Abel-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Satisfy';
	src: url('Satisfy-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.ttf') format('truetype');
}
.main {
	padding-top: 3%;
}
.row {
	padding: 2% 0;
}
.ui-body.ui-body-a {
	margin: 15px 0;
}
.gray {
	background-color: #000;
	border-color: #545454;
}
.no-hover-right {
	float: right;
}
.hover-format {
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
}
.hover-format-text {
	vertical-align: middle;
	display: table-cell;
	color: #ffffff;
	text-decoration: none;
	border: none;
}
.fb-page {
	width: 99%;
	margin: auto;
	text-align: center;
}
.captcha {
	text-align: center;
}
.g-recaptcha {
	display: inline-block;
}
body {
	font-family: "Abel", sans-serif;
	font-size: 1.5em;
	color: #000;
}
h2 {
	font-family: "Satisfy", cursive;
	font-size: 3em;
	margin: 0.67em;
}
h2.title {
	color: #000;
	text-align: center;
	width: 100%;
	margin: auto;
}
p.submit {
	text-align: center;
	width: 100%;
	margin: auto;
}
td {
	font-size: 1.5em;
}
header.main_nav {
	padding: 1% 0;
	display: block;
}
.logo {
	margin: 5% auto;
	text-align: center;
}
.logo p.logomain {
	font-family: "Satisfy", cursive;
	font-size: 3.25em;
	color: #FFF;
	text-decoration: none;
	border: 3px solid #0071BC;
	padding: 2px 10px 0 10px;
	margin: 0;
	font-weight: normal;
	display: inline-block;
}
.logo p.logomain sub.sub {
	font-family: "Abel", sans-serif;
	font-size: .5em;
}
img {
	max-width: 100%;
}
img.avatar {
	border-radius: 40px;
	border: 4px solid #fff;
}
figure.gallery {
	display: inline-block;
	width: 22.5%;
	margin: 1%;
}
ul.gallery-container {
	display: block;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
ul.gallery-container li {
	display:  inline;
	padding: 0;
	margin: 0;
}
figure.home figcaption {
	text-align: center;
}
footer p.copyright {
	text-align: center;
	color: #CCC;
	font-size: 1em;
}
.row.gray {
	margin-bottom: auto;
}
@media (max-width: 579px) {
	.main {
		padding-top: 15%;
	}
	.portfolio img {
		margin-bottom: 10%;
	}
	img.avatar {
		margin-top: 15%;
	}
	h2.bio {
		font-size: 2.1em;
	}
	p.bio {
		font-size: 1.25em;
	}
	ul.social li a {
		font-size: .54em;
	}
}